*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

a {
    color: var(--link-color);
    text-decoration: none;
    &:hover,
    &:focus {
        color: var(--link-color-hover);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

img,
picture,
svg,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

b,
strong {
    font-weight: inherit;
}

code,
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
